# .gitlab-ci.yml
image: node:latest

cache:
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/
    - .npm/

stages:
  - .pre
  - validate
  - test
  - build
  - release

install:
  stage: .pre
  script:
    - npm ci --cache .npm --prefer-offline

lint:
  stage: validate
  script:
    - npm run lint

unit-test:
  stage: test
  script:
    - npm test

release:
  stage: release
  script:
    - npx release-it
  when: manual
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
