image: node:latest

cache:
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/
    - .npm/

stages:
  - validate
  - test
  - build
  - release
  - deploy

# Job d'installation des dépendances
install:
  stage: .pre
  script:
    - npm install

# Job de validation ESLint
validate:
  stage: validate
  script:
    - npx eslint . --ext .js --config eslint.config.mjs

# Job de test (exemple avec npm test)
test:
  stage: test
  script:
    - npm test

# Job de build (exemple)
build:
  stage: build
  script:
    - echo "Build step placeholder"

# Job de release (exemple)
release:
  stage: release
  script:
    - echo "Release step placeholder"

# Job de déploiement (exemple)
deploy:
  stage: deploy
  script:
    - echo "Deploy step placeholder"
